### This is the preview Notebook for Lecture 04

In this lecture, we will learn about:
<ol>
    <li>Importing libraries and reviewing conditional execution</li>
    <li>Try/Except</li>
    <li>HTML and interact</li>
</ol>

In [ ]:
# Import the random library
import random

In [ ]:
# We will learn how to call the random function, then use conditionals!

# Call the random number

# Use if, elif, else to save to a string if it is positive, negative, or zero
    
# We will learn a new print format here!

In [ ]:
# A while loop without a break statement
name = input('Please type your name: ')

while name != 'Matt Morrison':

    print('Nah... you are not as cool as ' + name)
    
    # But note how I have to call input again. Same line of code twice!
    name = input('Please type your name: ')
        
print('Thank you!')

In [ ]:
# Same code, but practicing break statements!

#### Combining Concepts
In this exercise we will review and introduce:
<ol>
    <li>Importing libraries (this time, to generate random numbers</li>
    <li>While loops</li>
    <li>Conditional statements</li>
    <li>Functions</li>
</ol>
<p></p>
In this exercise, working with a classmate, you will <b>import a library</b> which will generate a random integer <b>between 0 and 10</b>, and the user will guess <i>until they get it correct</i>. If they get the guess wrong, ou should print a hint that the user was either <b>below or above</b> the random number. You will then print the correct guess <i>and</i> the total number of guesses the user required. The user should be able to play this game repeatedly.
<p></p>
<b>Hints:</b>
<ol>
    <li>You can reduce the number of lines of code and improve readability using a break</li>
    <li>Be sure to use clear variable names for readibility!</li>
    <li>Conditional statements</li>
    <li>Functions</li>
</ol>

In [ ]:
# Next, write a function that calls the library, and then generates a random number

In [ ]:
# Call your function to test the result

### Next, we will learn about try/except
<p></p>
We will first learn about this using <b>ZeroDivisionError</b>

In [ ]:
# Practice Exceptions

In [ ]:
# An example of AND using &
# Compares the binary in each column
# Only true if BOTH are 1

In [ ]:
# An example of OR using |
# Compares the binary in each column
# True if EITHER are 1

In [ ]:
# Importing HTML
from IPython.core.display import HTML

In [ ]:
# Importing interact
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [ ]:
    # Tabbed to be inside to function
    TABLE = """
    <h5>Converting four input numbers from int to hex, binary, and char:</h5>
    <div style="background: #{};">&nbsp;</div>
    <table>
        <thead>
            <th>Decimal</th>
            <th>Hexadecimal</th>
            <th>Binary</th>
            <th>Char</th>
        </thead>
        <tbody>
            <tr>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>
            <tr>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>
            <tr>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>
            <tr>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>
        </tbody>
    </table>
    """

In [ ]:
# Here, we will test print table with four numbers

In [ ]:
# Now, we will test interact

In [ ]:
# Mapping Dorms to Quads

In [ ]:
# Python's inputs are not case sensitive
# We can put in all lower-case and this will work
# This is not the case with most programming languages

In [ ]:
# We can do uppercase first letter

In [ ]:
# We can do random letters