### This is the preview notebook for Lecture 06

In this lecture, we will learn about:
<ol>
    <li>Advanced List Operations</li>
    <ol>
        <li>Enumerating list pairs (index, value)</li>
        <li>Using index, letter for string enumeration</li>
        <li>Reviewing Range Operators for lists from the Reading</li>
        <li>in operators</li>
        <li>Concatenating lists</li>
    </ol>
    <li>Advanced Topics: Real-World Application</li>
    <ol>
        <li>Dice Rolling</li>
        <li>Compound Interest</li>
    </ol>
</ol>

### In-Class Coding Opportunity

Write a function <b>update_list</b> that
<ol>
    <li>Takes in a list of integers, an index, and a value to update</li>
    <li>Tries to update the index of that list with the value</li>
    <li>Prints an IndexError exception if the index is out of bounds</li>
</ol>

In [1]:
# Code Together Opportunity

def update_list( number_list, index, value ):

    try:
        number_list[index] = value

    except IndexError:
        print( str(index) + " is out of bounds. Enter from 0 to " + str(len(number_list) - 1) )

In [3]:
# Run to test in-class coding opportunity
numbers = [22, 37, 81, 46, 99, 102, 106]
numbers_2 = [1, 2, 3, 4, 5]

89 in numbers

False

In [5]:
5 in numbers_2

True

In [7]:
print( numbers)

[22, 37, 81, 46, 99, 102, 106]

In [9]:
update_list( numbers, 4, 89 )

In [11]:
89 in numbers

True

In [13]:
print( numbers )

[22, 37, 81, 46, 89, 102, 106]

In [15]:
update_list( numbers, 7, 101 )

7 is out of bounds. Enter from 0 to 6

In [17]:
update_list( numbers, 6, 101 )
print(numbers)

[22, 37, 81, 46, 89, 102, 101]

In [19]:
update_list( numbers_2, 3, 44 )
print(numbers)
print(numbers_2)

[22, 37, 81, 46, 89, 102, 101]
[1, 2, 3, 44, 5]

In [21]:
# Deliberate logic error - pass by reference example

def update_list( number_list, index, value ):

    try:
        # numbers is global, so the wrong list will update
        numbers[index] = value

    except IndexError:
        print( str(index) + " is out of bounds. Enter from 0 to " + str(len(number_list) - 1) )

In [23]:
# Will try to update numbers_2[0] to 1000, but will actually update numbers
update_list( numbers_2, 0, 100 )
print(numbers)
print(numbers_2)

[100, 37, 81, 46, 89, 102, 101]
[1, 2, 3, 44, 5]

### Enumerate 

We can generate a list of pairs consisting of the index and the item using enumerate:

In [25]:
# Enumerating lists

enumerated_list = list(enumerate( ['a', 'b', 'c'] ))

In [27]:
# For loops and enumerating lists
enumerated_list

[(0, 'a'), (1, 'b'), (2, 'c')]

In [29]:
# Loop on an enumerated list
for index, letter in enumerated_list:
    print( index, letter )

0 a
1 b
2 c

In [31]:
empty_list = []

for index, letter in enumerate('abc'):

    # Foundational example of a hash function
    empty_list.append( {index*5,letter} )

empty_list

[{0, 'a'}, {5, 'b'}, {10, 'c'}]

### List Range Operators

We will review and apply our understanding of List Range Operators

In [33]:
# A string list
colors = [ 'blue', 'gold', 'green', 'white']

In [35]:
# We start at 0, but let's start at -1
colors[-1]

'white'

In [37]:
colors[-2]

'green'

In [ ]:
colors[-5]

In [39]:
# Some creative looping!
colors_len = len(colors)

# Multiply by negative 1
neg_colors_len = -1 * colors_len

# Python iteration starts in reverse
iterator = -1
while iterator >= neg_colors_len:
    print( "colors[" + str(iterator) +"] = " + colors[iterator])
    iterator -= 1

colors[-1] = white
colors[-2] = green
colors[-3] = gold
colors[-4] = blue

In [41]:
colors[1:]

['gold', 'green', 'white']

In [43]:
colors[2:3]

['green']

In [45]:
colors[2:4]

['green', 'white']

In [47]:
colors[1:-1]

['gold', 'green']

In [49]:
colors[1:3]

['gold', 'green']

### In-Class Coding Opportunity

Write the following function:

def generate_random_numbers(input_list, start, end)

Write code to do the following:
<ol>
    <li>Print the sum, min, max, and length of the list.</li>
    <li>Print the first and last element of in the list.</li>
    <li>Print out every other item in the list.</li>
    <li>Implement try/except using IndexError</li>
</ol>

In [59]:
def generate_random_numbers(input_list, start, end):

    print( "Sum = " + str( sum(input_list) ) )
    print( "Min = " + str( min(input_list) ) )
    print( "Max = " + str( max(input_list) ) )

    try:
        print( "First element = " + str( input_list[start] ) )
        print( "Last element = " + str( input_list[end] ) )

        iterator = start
        while iterator <= end:
            print( "input_list[" + str(iterator) + "] = " + str(input_list[iterator]) )
            iterator += 1
            
    except IndexError:
        print( "Index ot of bounds" )

In [61]:
# Testing code for the In-Class Coding Oppportunity

input_list = [0, 10, 3, 4, 22, -6, 7]
list_end_index = len(input_list) - 1
generate_random_numbers( input_list, 0, list_end_index )

Sum = 40
Min = -6
Max = 22
First element = 0
Last element = 7
input_list[0] = 0
input_list[1] = 10
input_list[2] = 3
input_list[3] = 4
input_list[4] = 22
input_list[5] = -6
input_list[6] = 7

### List of Lists

Remember the analogy that a sentence is a list of a list of strings

In [65]:
sentence = ["Cheer", "cheer", "for", "old", "Notre", "Dame"]

In [67]:
# Will give us the word 'cheer', which is a list of 5 characters
sentence[1]

'cheer'

In [69]:
# Now we get the [4]th character, which is r
sentence[1][4]

'r'

Now we can do list of lists of numbers! For example, a set of points in a graph!

In [71]:
points = [ [0, 1], [2, 3], [-1, 4], [3, -7] ]

In [73]:
points[1]

[2, 3]

In [75]:
points[2][0]

-1

In [77]:
points[1][1]

3

Use the <b>in</b> operator to quickly search for an element in a list

Simplified version of a for loop. But only recommended if you need a true/false, not an index.

In [79]:
numbers = [10, 22, 17, 9, -7, 34, 88, 35, 36, 41, 47, 101, 346, -10, -18, 36]

In [81]:
0 in numbers

False

In [83]:
346 in numbers

True

### List Concatenation

In [85]:
[0, 1, 2] + [3, 4, 5]

[0, 1, 2, 3, 4, 5]

In [87]:
# You can copy-and-appent a list a number of times using the * operator
[0, 1, 2] * 3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

### List Appending and Deleting

In [89]:
# Use append mehod to add 4 to the end of the list
append_list = [0, 1, 2, 3]
append_list.append(4)
print(append_list)

[0, 1, 2, 3, 4]

In [91]:
# Use the extend and range methods to add an entire range of values
append_list.extend( range(5,8) )
print(append_list)

[0, 1, 2, 3, 4, 5, 6, 7]

In [93]:
# Remove item at index 0 and return it
# Notice how 3 is no longer in the list
popped_val = append_list.pop(3)
print(popped_val)
print(append_list)

3
[0, 1, 2, 4, 5, 6, 7]

In [95]:
# Remove item at index 0
del append_list[0]
print(append_list)

[1, 2, 4, 5, 6, 7]

### List Sorting

In [97]:
# Using sort() will permanently sort the list

sort_list = [ 10, 22, -7, 13, 39, 8, 1 ]
sort_list.sort()
print(sort_list)

[-7, 1, 8, 10, 13, 22, 39]

In [103]:
# Using sorted will print them in order, but leave the list as is
sort_list = [ 10, 22, -7, 13, 39, 8, 1 ]
new_sort = sorted( sort_list )

In [107]:
print( sort_list )
print( new_sort )

[10, 22, -7, 13, 39, 8, 1]
[-7, 1, 8, 10, 13, 22, 39]

### List Reversing

In [109]:
# Empty List and then append
reverse_list = []
reverse_list.extend( range(0,10) )
print( reverse_list )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
# Reverse in place
reverse_list.reverse()
print( reverse_list )

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [113]:
# Reverse, but printing only
regular_list = ["sky","the","from","thunder","the","down","Shake"]
regular_list[::-1]

['Shake', 'down', 'the', 'thunder', 'from', 'the', 'sky']

### List Utility Functions

In [115]:
list_utility_test =[10, 22, 7, -1, 3, 0, 4, -6]

In [133]:
# Choose an element at random
# You must import random
import random
random.choice( list_utility_test )

-6

In [137]:
# Gets 3 random values from the list
random.sample( list_utility_test, 3 )

[0, -1, 7]

### Coin Flipping Simulation

In [147]:
import random

HEADS = 0
TAILS = 1

# Write a function simulate_coin_flip 
def simulate_coin_flip( num_flips ):

    counts = [0,0]

    for i in range(num_flips):
        curr_flip = random.randint(0,1)

        if curr_flip == HEADS:
            counts[HEADS] += 1

        else:
            counts[TAILS] += 1

    return counts

In [156]:
simulate_coin_flip(100)

[45, 55]

### Plotting using MatLAB

Note: MatLAB stands for "Matrix Laboratory"

In [ ]:
import matplotlib.pyplot as plt

# def plot_coint_flips

In [ ]:
counts = simulate_coin_flip(100)
plot_coin_flips(counts)

### Interaction

In [ ]:
from ipywidgets import interact

# def run_coin_simulation

In [ ]:
interact(run_coin_simulation, flips=(1,100))

In [ ]:
import random

# def simulate_dice

In [ ]:
data = simulate_dice(100, 4)

In [ ]:
# Print the data
data

In [ ]:
data[1:]

In [ ]:
data = [0, 1, 2, 3, 4, 5]

In [ ]:
data[1:]