### This is the Notebook for Lecture 08

In this section, you will learn
<ol>
    <li>The process of implementing an <b>Algorithm</b>
    <li>Implementing an algorithm called <b>Selection Sort</b>
    <li>Implementing an algorithm called <b>Merge Sort Sort</b>
    <li>Use the %timeit to compare the run times of those algorithms
</ol>

In [1]:
# Code we developed last lecture
# Binary Search Algorithm
# Function num_array, target

def binary_search( num_array, target ):

    min_val = 0
    max_val = len(num_array) - 1

    while min_val <= max_val:

        midpoint = (max_val + min_val) // 2

        middle = num_array[midpoint]
        print( 'num_array[' + str(midpoint) + '] = ' + str(middle) )

        if middle == target:
            return True

        if middle < target:
            min_val = midpoint + 1

        else:
            max_val = midpoint - 1

    return False

### In-Class Coding Opportunity

We will code a Selection Sort Algorithm

<ol>
    <li>Search for the smallest element in the unsorted portion of the list</li>
    <li>Swap the smallest element with the first element in the unsorted portion of the list</li>
    <li>Repeat process on remaining unsorted portion of the list</li>
</ol>

In [2]:
# Selection Sort
def selection_sort( array_to_sort):
    
    for first in range(0, len(array_to_sort) ):
        
        smallest = first
        
        for current in range( first, len(array_to_sort) ):
            
            if array_to_sort[current] < array_to_sort[smallest]:
                
                smallest = current
                
        temp = array_to_sort[first]
        array_to_sort[first] = array_to_sort[smallest]
        array_to_sort[smallest] = temp
        
        print( array_to_sort )

In [3]:
int_array = [10, 7, 5, 3, 0, 2, 1, 11, 3, 10, 15, 2, 1, 24, -1]
print( int_array )
selection_sort( int_array )
print( int_array )

[10, 7, 5, 3, 0, 2, 1, 11, 3, 10, 15, 2, 1, 24, -1]
[-1, 7, 5, 3, 0, 2, 1, 11, 3, 10, 15, 2, 1, 24, 10]
[-1, 0, 5, 3, 7, 2, 1, 11, 3, 10, 15, 2, 1, 24, 10]
[-1, 0, 1, 3, 7, 2, 5, 11, 3, 10, 15, 2, 1, 24, 10]
[-1, 0, 1, 1, 7, 2, 5, 11, 3, 10, 15, 2, 3, 24, 10]
[-1, 0, 1, 1, 2, 7, 5, 11, 3, 10, 15, 2, 3, 24, 10]
[-1, 0, 1, 1, 2, 2, 5, 11, 3, 10, 15, 7, 3, 24, 10]
[-1, 0, 1, 1, 2, 2, 3, 11, 5, 10, 15, 7, 3, 24, 10]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 10, 15, 7, 11, 24, 10]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 10, 15, 7, 11, 24, 10]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 15, 10, 11, 24, 10]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 10, 15, 11, 24, 10]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 10, 10, 11, 24, 15]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 10, 10, 11, 24, 15]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 10, 10, 11, 15, 24]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 10, 10, 11, 15, 24]
[-1, 0, 1, 1, 2, 2, 3, 3, 5, 7, 10, 10, 11, 15, 24]

In [4]:
# Merging Algorithm
def merge(left, right):
    
    # Empty Array
    merged = [] 
    
    while left or right:
        
        if not left:  # If the left array is empty
            
            # pop(0) remove from front, append put on back
            merged.append( right.pop(0) )
            
        elif not right:
            merged.append( left.pop(0) )
            
        elif left[0] <= right[0]:
            merged.append( left.pop(0) )
            
        else:
            merged.append( right.pop(0) )
    
    return merged

In [5]:
def merge_sort(numbers):
    
    # If the list is 0 or 1 length, already sorted!
    if len(numbers) <= 1:
        return numbers
    
    # Divide the lists
    middle = len(numbers) // 2
    left = numbers[:middle]
    right = numbers[middle:]
    
    print('Divide: middle=',middle,', left=',left,', right=',right)
    
    # Conquer
    left = merge_sort(left)
    right = merge_sort(right)
    
    print( 'Conquer: left=',left, ', right=', right)
    
    # Combine
    return merge(left,right)

In [6]:
int_array = [10, 7, 5, 3, 0, 2, 1, 11]
sorted_array = merge_sort( int_array )
print( sorted_array )
binary_search( int_array, 3 )

Divide: middle= 4 , left= [10, 7, 5, 3] , right= [0, 2, 1, 11]
Divide: middle= 2 , left= [10, 7] , right= [5, 3]
Divide: middle= 1 , left= [10] , right= [7]
Conquer: left= [10] , right= [7]
Divide: middle= 1 , left= [5] , right= [3]
Conquer: left= [5] , right= [3]
Conquer: left= [7, 10] , right= [3, 5]
Divide: middle= 2 , left= [0, 2] , right= [1, 11]
Divide: middle= 1 , left= [0] , right= [2]
Conquer: left= [0] , right= [2]
Divide: middle= 1 , left= [1] , right= [11]
Conquer: left= [1] , right= [11]
Conquer: left= [0, 2] , right= [1, 11]
Conquer: left= [3, 5, 7, 10] , right= [0, 1, 2, 11]
[0, 1, 2, 3, 5, 7, 10, 11]
num_array[3] = 3

True

### Comparing Selection Sort and Merge Sort

In [7]:
import random

def generate_random_numbers(n, low=1, high=1000):
    numbers = []
    for i in range(n):
        numbers.append(random.randint(low, high))
    return numbers

In [16]:
dataset1000 = generate_random_numbers(1000)

In [17]:
# Selection Sort
def selection_sort_no_print( array_to_sort):
    
    for first in range(0, len(array_to_sort) ):
        
        smallest = first
        
        for current in range( first, len(array_to_sort) ):
            
            if array_to_sort[current] < array_to_sort[smallest]:
                
                smallest = current
                
        temp = array_to_sort[first]
        array_to_sort[first] = array_to_sort[smallest]
        array_to_sort[smallest] = temp

In [18]:
# %timeit runs the code 7 times with 1,000 loops to get a benchmark
%timeit selection_sort_no_print(dataset1000)

58.7 ms ± 746 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
def merge_sort_no_print(numbers):
    # Base case
    if len(numbers) <= 1:
        return numbers
    
    # Divide
    middle = len(numbers) // 2
    left   = numbers[:middle]
    right  = numbers[middle:] 
    
    # Conquer
    left   = merge_sort_no_print(left)
    right  = merge_sort_no_print(right)
    
    # Combine
    return merge(left, right)

In [20]:
%timeit merge_sort_no_print(dataset1000)

7.42 ms ± 489 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Strings

In this section you will learn:
<ol>
    <li>Review of string basics</li>
    <li>Advanced string topics</li>
</ol>

In [21]:
pupfessor_name = 'Eirinn'

### Strings: Immutability

Strings in Python are immutable, which means that you cannot change the elements of a string once it is set:

In [22]:
# Deliberate TypeError to show students immutability
pupfessor_name[4] = 'Q'

TypeError: 'str' object does not support item assignment

In [23]:
new_pupfessor_name = 'Q' + pupfessor_name[1:]

print(new_pupfessor_name)

Qirinn

In [24]:
sorted(pupfessor_name)

['E', 'i', 'i', 'n', 'n', 'r']

In [25]:
sorted(new_pupfessor_name)

['Q', 'i', 'i', 'n', 'n', 'r']

In [26]:
max(pupfessor_name)

'r'

In [27]:
min(pupfessor_name)

'E'

In [28]:
'i' in pupfessor_name

True

In [29]:
'rin' in pupfessor_name

True

In [30]:
# Of course it's false! Eirinn is a GOOD GIRL!
'bad dog' in pupfessor_name

False

### Print ASCII values

In [31]:
def print_ascii( string_to_print ):
    
    for current_letter in string_to_print:
        print( f'The ASCII value of { current_letter } is { ord(current_letter) } ')

In [32]:
print_ascii( pupfessor_name )

The ASCII value of E is 69
The ASCII value of i is 105
The ASCII value of r is 114
The ASCII value of i is 105
The ASCII value of n is 110
The ASCII value of n is 110

In [33]:
print_ascii( "Notre Dame Fighting Irish!" )

The ASCII value of N is 78
The ASCII value of o is 111
The ASCII value of t is 116
The ASCII value of r is 114
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of D is 68
The ASCII value of a is 97
The ASCII value of m is 109
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of F is 70
The ASCII value of i is 105
The ASCII value of g is 103
The ASCII value of h is 104
The ASCII value of t is 116
The ASCII value of i is 105
The ASCII value of n is 110
The ASCII value of g is 103
The ASCII value of   is 32
The ASCII value of I is 73
The ASCII value of r is 114
The ASCII value of i is 105
The ASCII value of s is 115
The ASCII value of h is 104
The ASCII value of ! is 33

### Escape Characters

There are some characters which we may wish to print, but do not correspond to a normal alphanumeric or punctuation character. One such example is the newline which forces the proceeding characters to move to the next line. To render a newline you can use the '\n' escape code:

In [34]:
print("\nThere will be a space before and after this sentence\n")

There will be a space before and after this sentence

In [35]:
print_ascii( "\nThere will be a space before and after this sentence\n" )

The ASCII value of
 is 10
The ASCII value of T is 84
The ASCII value of h is 104
The ASCII value of e is 101
The ASCII value of r is 114
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of w is 119
The ASCII value of i is 105
The ASCII value of l is 108
The ASCII value of l is 108
The ASCII value of   is 32
The ASCII value of b is 98
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of a is 97
The ASCII value of   is 32
The ASCII value of s is 115
The ASCII value of p is 112
The ASCII value of a is 97
The ASCII value of c is 99
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of b is 98
The ASCII value of e is 101
The ASCII value of f is 102
The ASCII value of o is 111
The ASCII value of r is 114
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of a is 97
The ASCII value of n is 110
The ASCII value of d is 100
The ASCII value of   is 32
The ASCII value of a is 97
The ASCII value of f is 102
The ASCII value of t is 116
The ASCII value of e is 101
The ASCII value of r is 114
The ASCII value of   is 32
The ASCII value of t is 116
The ASCII value of h is 104
The ASCII value of i is 105
The ASCII value of s is 115
The ASCII value of   is 32
The ASCII value of s is 115
The ASCII value of e is 101
The ASCII value of n is 110
The ASCII value of t is 116
The ASCII value of e is 101
The ASCII value of n is 110
The ASCII value of c is 99
The ASCII value of e is 101
The ASCII value of
 is 10

In [36]:
print("\tThis sentence will be tabbed over")

	This sentence will be tabbed over

In [40]:
# Example of organized spacing
print("Date\tOpponent\tTime")
print("8/31\t@Miami\t\t7:30pm")
print("9/13\tTexas A&M\t2:30pm")
print("9/20\tPurdue\t\t2:30pm")
print("9/27\t@Arkansas\t6:30pm")

Date	Opponent	Time
8/31	@Miami		7:30pm
9/13	Texas A&M	2:30pm
9/20	Purdue		2:30pm
9/27	@Arkansas	6:30pm

### String Methods (Case)
Because certain operations on strings are so common, Python includes a variety of built-in methods that you can apply to a string object

In [41]:
# Will capitalize the first letter only
'marcus freeman'.capitalize()

'Marcus freeman'

In [42]:
# Converts all to upper case
'marcus freeman'.upper()

'MARCUS FREEMAN'

In [43]:
# Converts all to lower
'MARCUS FREEMAN'.lower()

'marcus freeman'

In [44]:
# Puts the first character in each word as a capital
'marcus freeman'.title()

'Marcus Freeman'

### String Methods (Search)

In [46]:
'the boy who blocked his own shot'.startswith('the')

True

In [47]:
'the boy who blocked his own shot'.startswith('boy')

False

In [48]:
'the boy who blocked his own shot'.endswith('shot')

True

In [49]:
'the boy who blocked his own shot'.find('who')

8

In [50]:
# Now we can find the second 'who'
'the boy who blocked his own shot who'.find('who', 10)

33

In [51]:
# Finds the index of the first instance of 'who' after character [3]
'the boy who blocked his own shot'.index('who', 3)

8

In [52]:
# ValueError if the index we are seeking is not found
'the boy who blocked his own shot'.index('who', 10)

ValueError: substring not found

### Strip Whitespace

In [53]:
# From left and right
' something good may come of this '.strip()

'something good may come of this'

In [54]:
# From right
' something good may come of this '.rstrip()

' something good may come of this'

In [55]:
# From left
' something good may come of this '.lstrip()

'something good may come of this '

### Combine and Split Strings

In [56]:
# In between the '' is what can separate the strings, but not after
''.join( ['apples', 'oranges', 'bananas'] )

'applesorangesbananas'

In [57]:
','.join( ['apples', 'oranges', 'bananas'] )

'apples,oranges,bananas'

In [58]:
', '.join( ['apples', 'oranges', 'bananas'] )

'apples, oranges, bananas'

In [60]:
' are a fruit, '.join( ['apples', 'oranges', 'bananas'] )

'apples are a fruit, oranges are a fruit, bananas'

In [62]:
# Sometimes, you can use concatenation (+ on a string) to account for looping

full_string = ', '.join( ['apples', 'oranges', 'bananas'] )

updated_string = full_string + ' are a fruit'
print( updated_string )

apples, oranges, bananas are a fruit

In [63]:
# The character inside is where we split. Default is a space
'the good, the bad, and the ugly'.split()

['the', 'good,', 'the', 'bad,', 'and', 'the', 'ugly']

In [64]:
'the good, the bad, and the ugly'.split(',')

['the good', ' the bad', ' and the ugly']

In [65]:
# Example of confusing spacing, so choose your split carefully!
'the good, the bad, and the ugly'.split('the')

['', ' good, ', ' bad, and ', ' ugly']