### This is the preview notebook for Lecture 05


In this lecture, we will learn about:
<ol>
    <li>while loops</li>
    <li>for loops</li>
    <li>Lists</li>
    <li>Review try/except</li>
</ol>

### range( start, end )

Will actually go to <b>end-1</b>

In [3]:
# You can even control the range
# But for range(0,4), will it go to 3 or 104?
iterator = 0

while iterator in range(0, 4):
    print(iterator)
    iterator += 1

0
1
2
3

In [6]:
# Every loop, this will add 2
# After it gets to 11, it will add 2, but then not print
# A good example of *needing to understand the syntax*
# Remember, we are shooting electricity into rocks and trying to make them think

temp_val = 3
add_val = 2

while temp_val in range(3, 13):
    print( temp_val )
    temp_val += add_val

3
5
7
9
11

### In-Class Coding Opportunity

In [11]:
# Read in a set of integers until you enter a 0, and then print their average
# Consider a potential *issue*

int_input = 0
sum_val = 0
count_val = 0

while True:
    int_input = int(input( 'Input the next integer: '))
    
    if int_input == 0:
        break
        
    sum_val += int_input
    count_val += 1
    
try:
    print( f'The sum is {sum_val}, num elements is {count_val}, average is {sum_val/count_val}')
    
except ZeroDivisionError:
    print( 'Attempted to divide by Zero!')

Input the next integer: 10
Input the next integer: -2
Input the next integer: 3
Input the next integer: 34
Input the next integer: 5
Input the next integer: 0
The sum is 50, num elements is 5, average is 10.0

### For loops 

Iterating through a definite set of objects is a common looping pattern

In [12]:
# Using []
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

In [13]:
# Using range
for i in range (0, 4):
    print(i)

0
1
2
3

### List Syntax and Operators

In [16]:
# The basic format for a Python list
print( [11, 13, 4, 22, -7] )

[11, 13, 4, 22, -7]

In [17]:
# You can use a variable name to save lists
int_list = [11, 13, 4, 22, -7]

In [18]:
# By calling print, you can print the entire list
print( int_list )

[11, 13, 4, 22, -7]

In [19]:
# Review: Lists have their own type!
type( int_list )

list

In [30]:
# You can access a list element using []
print( int_list[2] )

print( len( int_list ) )

4
5

### In-Class Coding Opportunity: Let's loop through the list and print the elements

Key Takeaway: The value at a location is not the same as the location itself!

In [34]:
# Loop through lists example using len
iterator = 0

while iterator < len( int_list ):
    print( "int_list[" + f'{iterator}' + "] = " + f'{int_list[iterator]}' )
    iterator += 1

int_list[0] = 11
int_list[1] = 13
int_list[2] = 4
int_list[3] = 22
int_list[4] = -7

In [35]:
# Loop through lists example using in
for iterator in range( 0, len( int_list ) ):
    print( int_list[iterator] )

11
13
4
22
-7

### In-Class Coding Opportunity

Write a function called find_smallest that returns the smallest item in a list. Then, write a line of code that passes an integer array to that function to test your result!

In [6]:
# Function 

def find_smallest( data ):
    
    try:
    
        smallest = data[0]
        index = 0

        while index < len(data):
            if data[index] < smallest:
                smallest = data[index]

            index += 1

        return smallest
    
    except IndexError:
        print( 'Hey prof, list empty!')

In [43]:
# Test with integers
find_smallest([6, 3, 10, 6, 8, -2, 25, -7, -6, 9])

-7

In [44]:
# Test with updated exception
find_smallest([])

Hey prof, list empty!

In [38]:
# Test char array
char_array = ['N', 'o', 't', 'r', 'e', 'D', 'a', 'm', 'e']

In [39]:
# Test with char array
find_smallest( char_array )

'D'

### Why do you think this happened?

Hint: <a href = "https://www.asciitable.com/">ASCII Table</a>

In [2]:
# Lists do not need to be the same type, although this can be rare
type_list = [ 1, 'Hello!']

In [3]:
# What will the type of this list be?
type( type_list )

list

In [7]:
# You cannot compare different types in a heterogeneous list
find_smallest( type_list )

TypeError: '<' not supported between instances of 'str' and 'int'

### In-Class Coding Opportunity: 

We will write a function called <i>swap</i> that performs the following tasks

<ol>
    <li>Reads in a list and two <b>locations</b> to swap</li>
    <ol>
        <li>We need to understand that locations are <b>physical</b> and must be kep track of
    </ol>
    <li>Using conditionals, check if the locations are either less than 0 OR greater than or equal to the array length. If that fails, we do not swap!</li>
    <li>Otherwise, swaps the locations</li>
    <li>Then we will call it several times, including testing outside of the array
</ol>

In [45]:
# Swap Function
def swap( list_to_swap, first_loc, second_loc ):
    
    temp = list_to_swap[first_loc]
    
    list_to_swap[first_loc] = list_to_swap[second_loc]
    
    list_to_swap[second_loc] = temp

In [46]:
# Creating the list to test
list_to_swap = [0, 1, 2, 3, 4, 5]
first_loc = 3
second_loc = 2

# We will see that lists are "passed by reference" to the function
swap( list_to_swap, first_loc, second_loc )
print( list_to_swap )

[0, 1, 3, 2, 4, 5]

In [47]:
# Now let's do it with 0 and array length - 1
first_loc = 0
second_loc = len(list_to_swap) - 1

# We will see that lists are "passed by reference" to the function
swap( list_to_swap, first_loc, second_loc )
print( list_to_swap )

[5, 1, 3, 2, 4, 0]

In [48]:
# Now let's see what happens when we go out of bounds!
second_loc = len(list_to_swap)

# We will see that lists have "bounds"
swap( list_to_swap, first_loc, second_loc )
print( list_to_swap )

IndexError: list index out of range

### We now see that we have an IndexError

Even with the if/elif/else statements, the Python recognizes the *possible* issue

### In-Class Coding Opportunity: swap_except

So let's write a modified swap function, which we will call <b>swap_except</b>, that does the same thing as swap, except now we will use our understanding of try/except from the previous lecture

In [49]:
# Swap Except
# Swap Function
def swap_except( list_to_swap, first_loc, second_loc ):
    
    try:
    
        temp = list_to_swap[first_loc]

        list_to_swap[first_loc] = list_to_swap[second_loc]

        list_to_swap[second_loc] = temp
        
    except IndexError:
        print( 'Sorry Yoda, there IS a try' )

In [50]:
# The initial test will work as normal
list_to_swap = [0, 1, 2, 3, 4, 5]
first_loc = 3
second_loc = 2

swap_except( list_to_swap, first_loc, second_loc )
print( list_to_swap )

[0, 1, 3, 2, 4, 5]

In [51]:
# The second test will work as expeced
first_loc = 0
second_loc = len(list_to_swap) - 1

swap_except( list_to_swap, first_loc, second_loc )
print( list_to_swap )

[5, 1, 3, 2, 4, 0]

In [52]:
# Now let's see what happens when we go out of bounds!
second_loc = len(list_to_swap)

# We will see that the values print, and that the program is permitted to continue!
swap_except( list_to_swap, first_loc, second_loc )
print( list_to_swap )

Sorry Yoda, there IS a try
[5, 1, 3, 2, 4, 0]