### This is the Notebook for Lecture 08

In this section, you will learn
<ol>
    <li>The process of implementing an <b>Algorithm</b>
    <li>Implementing an algorithm called <b>Selection Sort</b>
    <li>Implementing an algorithm called <b>Merge Sort Sort</b>
    <li>Use the %timeit to compare the run times of those algorithms
</ol>

In [1]:
# Binary Search Algorithm
# Function num_array, target
def binary_search( num_array, target ):
    
    start = 0
    end = len(num_array) - 1
    
    while start <= end:
        
        midpoint = (start + end ) // 2
        middle = num_array[midpoint]
        
        print( f'num_array[{midpoint}] = {middle}')
        
        if middle == target:
            return True
        
        if middle < target:
            start = midpoint + 1
            
        else:
            end = midpoint - 1
            
    return False   # For if the number is not in the array

In [2]:
num_array = [3, 14, 22, 28, 34, 42, 47]

# Search for 14
binary_search( num_array, 14 )

num_array[3] = 28
num_array[1] = 14

True

In [3]:
# Search for 34
binary_search( num_array, 34 )

num_array[3] = 28
num_array[5] = 42
num_array[4] = 34

True

In [4]:
# Search for 2
binary_search( num_array, 2 )

num_array[3] = 28
num_array[1] = 14
num_array[0] = 3

False

### In-Class Coding Opportunity

We will code a Selection Sort Algorithm

<ol>
    <li>Search for the smallest element in the unsorted portion of the list</li>
    <li>Swap the smallest element with the first element in the unsorted portion of the list</li>
    <li>Repeat process on remaining unsorted portion of the list</li>
</ol>

In [5]:
# Selection Sort
def selection_sort( array_to_sort):
    
    for first in range(0, len(array_to_sort) ):
        smallest = first
        
        for current in range (first, len(array_to_sort) ):
            
            if array_to_sort[current] < array_to_sort[smallest]:
                smallest = current
                
        temp = array_to_sort[ first ]
        array_to_sort[ first ] = array_to_sort[ smallest ]
        array_to_sort[ smallest ] = temp

In [6]:
int_array = [10, 7, 5, 3, 0, 2, 1, 11]
selection_sort( int_array )
print( int_array )

[0, 1, 2, 3, 5, 7, 10, 11]

#### Merge Sort

In [7]:
# Merging Algorithm
def merge(left, right):
    merged = []
    
    while left or right:
        if not left:  # If the left array 
            merged.append(right.pop(0))
        elif not right:
            merged.append(left.pop(0))
        elif left[0] <= right[0]:
            merged.append(left.pop(0))
        else:
            merged.append(right.pop(0))
    
    return merged

In [8]:
def merge_sort(numbers):
    # Base case
    if len(numbers) <= 1:
        return numbers
    
    # Divide
    middle = len(numbers) // 2
    left   = numbers[:middle]
    right  = numbers[middle:]
    
    # Print the divide
    print( 'Divide in merge_sort: Middle = ' + f'{middle}' + ', left = ' + f'{left}' + ', right = ' + f'{right}')
    
    # Conquer
    left   = merge_sort(left)
    right  = merge_sort(right)
    
    print( 'Conquer in merge_sort: left = ' + f'{left}' + ', right = ' + f'{right}')
    
    # Combine
    return merge(left, right)

In [9]:
int_array = [10, 7, 5, 3, 0, 2, 1, 11]
sorted_array = merge_sort( int_array )
print( sorted_array )

Divide in merge_sort: Middle = 4, left = [10, 7, 5, 3], right = [0, 2, 1, 11]
Divide in merge_sort: Middle = 2, left = [10, 7], right = [5, 3]
Divide in merge_sort: Middle = 1, left = [10], right = [7]
Conquer in merge_sort: left = [10], right = [7]
Divide in merge_sort: Middle = 1, left = [5], right = [3]
Conquer in merge_sort: left = [5], right = [3]
Conquer in merge_sort: left = [7, 10], right = [3, 5]
Divide in merge_sort: Middle = 2, left = [0, 2], right = [1, 11]
Divide in merge_sort: Middle = 1, left = [0], right = [2]
Conquer in merge_sort: left = [0], right = [2]
Divide in merge_sort: Middle = 1, left = [1], right = [11]
Conquer in merge_sort: left = [1], right = [11]
Conquer in merge_sort: left = [0, 2], right = [1, 11]
Conquer in merge_sort: left = [3, 5, 7, 10], right = [0, 1, 2, 11]
[0, 1, 2, 3, 5, 7, 10, 11]

## Strings

In this section you will learn:
<ol>
    <li>Review of string basics</li>
    <li>Advanced string topics</li>
</ol>

In [1]:
pupfessor_name = 'Eirinn'

### Strings: Immutability

Strings in Python are immutable, which means that you cannot change the elements of a string once it is set:

In [31]:
# Deliberate TypeError to show students immutability
pupfessor_name[4] = 'Q'

TypeError: 'str' object does not support item assignment

In [33]:
new_pupfessor_name = 'Q' + pupfessor_name[1:]

print(new_pupfessor_name)

Qirinn

In [36]:
sorted(pupfessor_name)

['E', 'i', 'i', 'n', 'n', 'r']

In [35]:
sorted(new_pupfessor_name)

['Q', 'i', 'i', 'n', 'n', 'r']

In [37]:
max(pupfessor_name)

'r'

In [38]:
min(pupfessor_name)

'E'

In [39]:
'i' in pupfessor_name

True

In [40]:
'g' in pupfessor_name

False

In [41]:
'a' in 'abcd'

True

In [42]:
'r' in 'abcd'

False

In [43]:
'rin' in pupfessor_name

True

In [45]:
'ran' in pupfessor_name

False

In [46]:
# Of course it's false! Eirinn is a GOOD GIRL!
'bad dog' in pupfessor_name

False

### Print ASCII values

In [62]:
def print_ascii( string_to_print ):
    
    for current_letter in string_to_print:
        print( f'The ASCII value of { current_letter } is { ord(current_letter) } ')

In [63]:
print_ascii( pupfessor_name )

The ASCII value of E is 69
The ASCII value of i is 105
The ASCII value of r is 114
The ASCII value of i is 105
The ASCII value of n is 110
The ASCII value of n is 110

In [64]:
print_ascii( "Notre Dame Fighting Irish!" )

The ASCII value of N is 78
The ASCII value of o is 111
The ASCII value of t is 116
The ASCII value of r is 114
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of D is 68
The ASCII value of a is 97
The ASCII value of m is 109
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of F is 70
The ASCII value of i is 105
The ASCII value of g is 103
The ASCII value of h is 104
The ASCII value of t is 116
The ASCII value of i is 105
The ASCII value of n is 110
The ASCII value of g is 103
The ASCII value of   is 32
The ASCII value of I is 73
The ASCII value of r is 114
The ASCII value of i is 105
The ASCII value of s is 115
The ASCII value of h is 104
The ASCII value of ! is 33

### Escape Characters

There are some characters which we may wish to print, but do not correspond to a normal alphanumeric or punctuation character. One such example is the newline which forces the proceeding characters to move to the next line. To render a newline you can use the '\n' escape code:

In [65]:
print("\nThere will be a space before and after this sentence\n")

There will be a space before and after this sentence

In [66]:
print_ascii( "\nThere will be a space before and after this sentence\n" )

The ASCII value of
 is 10
The ASCII value of T is 84
The ASCII value of h is 104
The ASCII value of e is 101
The ASCII value of r is 114
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of w is 119
The ASCII value of i is 105
The ASCII value of l is 108
The ASCII value of l is 108
The ASCII value of   is 32
The ASCII value of b is 98
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of a is 97
The ASCII value of   is 32
The ASCII value of s is 115
The ASCII value of p is 112
The ASCII value of a is 97
The ASCII value of c is 99
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of b is 98
The ASCII value of e is 101
The ASCII value of f is 102
The ASCII value of o is 111
The ASCII value of r is 114
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of a is 97
The ASCII value of n is 110
The ASCII value of d is 100
The ASCII value of   is 32
The ASCII value of a is 97
The ASCII value of f is 102
The ASCII value of t is 116
The ASCII value of e is 101
The ASCII value of r is 114
The ASCII value of   is 32
The ASCII value of t is 116
The ASCII value of h is 104
The ASCII value of i is 105
The ASCII value of s is 115
The ASCII value of   is 32
The ASCII value of s is 115
The ASCII value of e is 101
The ASCII value of n is 110
The ASCII value of t is 116
The ASCII value of e is 101
The ASCII value of n is 110
The ASCII value of c is 99
The ASCII value of e is 101
The ASCII value of
 is 10

In [67]:
print("\tThis sentence will be tabbed over")

	This sentence will be tabbed over

In [68]:
print_ascii( "\tThis sentence will be tabbed over")

The ASCII value of 	 is 9
The ASCII value of T is 84
The ASCII value of h is 104
The ASCII value of i is 105
The ASCII value of s is 115
The ASCII value of   is 32
The ASCII value of s is 115
The ASCII value of e is 101
The ASCII value of n is 110
The ASCII value of t is 116
The ASCII value of e is 101
The ASCII value of n is 110
The ASCII value of c is 99
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of w is 119
The ASCII value of i is 105
The ASCII value of l is 108
The ASCII value of l is 108
The ASCII value of   is 32
The ASCII value of b is 98
The ASCII value of e is 101
The ASCII value of   is 32
The ASCII value of t is 116
The ASCII value of a is 97
The ASCII value of b is 98
The ASCII value of b is 98
The ASCII value of e is 101
The ASCII value of d is 100
The ASCII value of   is 32
The ASCII value of o is 111
The ASCII value of v is 118
The ASCII value of e is 101
The ASCII value of r is 114

In [74]:
# Example of organized spacing
print("Date\tOpponent\tTime")
print("9/3\t@Ohio State\t7:30pm")
print("9/10\tMarshall\t2:30pm")
print("9/17\tCalifornia\t2:30pm")
print("9/24\t@UNC\t\t3:30pm")

Date	Opponent	Time
9/3	@Ohio State	7:30pm
9/10	Marshall	2:30pm
9/17	California	2:30pm
9/24	@UNC		3:30pm

### String Methods (Case)
Because certain operations on strings are so common, Python includes a variety of built-in methods that you can apply to a string object

In [75]:
# Will capitalize the first letter only
'marcus freeman'.capitalize()

'Marcus freeman'

In [76]:
# Converts all to upper case
'marcus freeman'.upper()

'MARCUS FREEMAN'

In [77]:
# Converts all to lower
'MARCUS FREEMAN'.lower()

'marcus freeman'

In [78]:
# Puts the first character in each word as a capital
'marcus freeman'.title()

'Marcus Freeman'

### String Methods (Search)

In [79]:
'the boy who blocked his own shot'.startswith('the')

True

In [80]:
'the boy who blocked his own shot'.startswith('boy')

False

In [81]:
'the boy who blocked his own shot'.endswith('shot')

True

In [84]:
'the boy who blocked his own shot'.find('who')

8

In [85]:
# Will return -1 because who is not found after character 10
'the boy who blocked his own shot'.find('who', 10)

-1

In [87]:
# Now we can find the second 'who'
'the boy who blocked his own shot who'.find('who', 10)

33

In [91]:
# Finds the index of the first instance of 'who' after character [3]
'the boy who blocked his own shot'.index('who', 3)

8

In [89]:
# ValueError if the index we are seeking is not found
'the boy who blocked his own shot'.index('who', 10)

ValueError: substring not found

### Strings: Methods (Properties)

In [92]:
'abcdef'.isalpha()

True

In [93]:
# Deliberate error - Must include ()
'abcdef'.isalpha

In [94]:
'abc123f'.isalpha()

False

In [95]:
# Is Alpha Numberic
'abc123f'.isalnum()

True

In [96]:
'123456'.isdigit()

True

In [97]:
'abc123f'.isdigit()

False

In [98]:
'-123'.isdigit()

False

In [99]:
' '.isspace()

True

In [100]:
'abc def'.isspace()

False

In [103]:
string_example = 'abc def'
string_example[3].isspace()

True

### Strip Whitespace

In [104]:
# From left and right
' something good may come of this '.strip()

'something good may come of this'

In [105]:
# From right
' something good may come of this '.rstrip()

' something good may come of this'

In [106]:
# From left
' something good may come of this '.lstrip()

'something good may come of this '

### Combine and Split Strings

In [121]:
# In between the '' is what can separate the strings, but not after
''.join( ['apples', 'oranges', 'bananas'] )

'applesorangesbananas'

In [123]:
','.join( ['apples', 'oranges', 'bananas'] )

'apples, oranges, bananas'

In [124]:
', '.join( ['apples', 'oranges', 'bananas'] )

'apples, oranges, bananas'

In [125]:
' are a fruit, '.join( ['apples', 'oranges', 'bananas'] )

'apples are a fruit, oranges are a fruit, bananas'

In [129]:
# Sometimes, you can use concatenation (+ on a string) to account for looping

updated_string = full_string + ' are a fruit'
print( updated_string )

apples are a fruit, oranges are a fruit, bananas are a fruit

In [131]:
# The character inside is where we split. Default is a space
'the good, the bad, and the ugly'.split()

['the', 'good,', 'the', 'bad,', 'and', 'the', 'ugly']

In [132]:
'the good, the bad, and the ugly'.split(',')

['the good', ' the bad', ' and the ugly']

In [133]:
# Example of confusing spacing, so choose your split carefully!
'the good, the bad, and the ugly'.split('the')

['', ' good, ', ' bad, and ', ' ugly']