### This is the preview notebook for Lecture 05

In this lecture, we will learn about:
<ol>
    <li>while loops</li>
    <li>for loops</li>
    <li>Lists</li>
    <li>Review try/except</li>
</ol>

### range( start, end )

Will actually go to <b>end-1</b>

In [1]:
# You can even control the range
# But for range(0,4), will it go to 3 or 104?

iterator = 0
while iterator in range(0,4):
    print( 'Inside while loop ', str(iterator) )
    iterator += 1

print( 'Outside while loop ', str(iterator) )

Inside while loop  0
Inside while loop  1
Inside while loop  2
Inside while loop  3
Outside while loop  4

In [11]:
# Comparing range (a,b) - a is inclusive and b is exclusive

iterator = 3
while iterator in range(0,4):
    print( 'Inside while loop ', str(iterator) )
    iterator -= 1

print( 'Outside while loop ', str(iterator) )

Inside while loop  3
Inside while loop  2
Inside while loop  1
Inside while loop  0
Outside while loop  -1

In [3]:
# Comparing range (a,b) - a is inclusive and b is exclusive

iterator = 4
while iterator in range(0,4):
    print( 'Inside while loop ', str(iterator) )
    iterator -= 1

print( 'Outside while loop ', str(iterator) )

Outside while loop  4

In [5]:
# Every loop, this will add 2
# After it gets to 11, it will add 2, but then not print
# A good example of *needing to understand the syntax*
# Remember, we are shooting electricity into rocks and trying to make them think

iterator = 3

while iterator in range(0,12):
    print('Inside while loop ', str(iterator))
    iterator += 2

Inside while loop  3
Inside while loop  5
Inside while loop  7
Inside while loop  9
Inside while loop  11

### In-Class Coding Opportunity

In [17]:
# Read in a set of integers until you enter a 0, and then print their average

sum_vals = 0
count = 0

result_list = []

while True:

    int_input = int(input('Input the next int or 0 to stop: '))

    if int_input == 0:
        break

    result_list.append(int_input)
    sum_vals += int_input
    count += 1

try:
    print('Average of ', str(result_list), ' is ', str(sum_vals/count) )

except ZeroDivisionError:
    print('Cannot divide by zero')

Input the next int or 0 to stop:  12
Input the next int or 0 to stop:  10
Input the next int or 0 to stop:  7
Input the next int or 0 to stop:  8
Input the next int or 0 to stop:  3
Input the next int or 0 to stop:  4
Input the next int or 0 to stop:  5
Input the next int or 0 to stop:  2
Input the next int or 0 to stop:  0

Average of  [12, 10, 7, 8, 3, 4, 5, 2]  is  6.375

### For loops 

Iterating through a definite set of objects is a common looping pattern

In [19]:
# Using []
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

In [21]:
# Using range
for i in range(0,4):
    print(i)

0
1
2
3

### List Syntax and Operators

In [23]:
# The basic format for a Python list
print( [11,12,8,32] )

[11, 12, 8, 32]

In [25]:
# You can use a variable name to save lists
int_list = [11,12,8,32]

In [27]:
# By calling print, you can print the entire list
print( int_list )

[11, 12, 8, 32]

In [29]:
# Review: Lists have their own type!
type( int_list )

list

In [43]:
# You can access a list element using []
print( int_list[0] )
print( int_list[2] )
print( int_list[1] )
print( int_list[3] )
print( len(int_list) )

# Deliberate IndexError
print( int_list[4] )

11
8
12
32
4

IndexError: list index out of range

In [47]:
# Create an empty list

empty_list = []
print( empty_list )

empty_list.append(7)
print( empty_list )

[]
[7]

### In-Class Coding Opportunity: Let's loop through the list and print the elements

Key Takeaway: The value at a location is not the same as the location itself!

In [51]:
# Loop through lists example using len

iterator = 0
while iterator < len(int_list):

    print( 'int_list[', str(iterator), '] = ', str(int_list[iterator]) )
    iterator += 1

int_list[ 0 ] =  11
int_list[ 1 ] =  12
int_list[ 2 ] =  8
int_list[ 3 ] =  32

In [53]:
# Loop through lists example using in

for iterator in range(0, len(int_list)):
    print( 'int_list[', str(iterator), '] = ', str(int_list[iterator]) )

int_list[ 0 ] =  11
int_list[ 1 ] =  12
int_list[ 2 ] =  8
int_list[ 3 ] =  32

### In-Class Coding Opportunity

Write a function called find_smallest that returns the smallest item in a list. Then, write a line of code that passes an integer array to that function to test your result!

In [73]:
# Function 

def find_smallest( the_list ):

    try:
        smallest = the_list[0]
    
        for index in range(1, len(the_list)):
    
            if the_list[index] < smallest:
                smallest = the_list[index]
    
        return smallest

    except IndexError:
        print('Will not work on an empty array')

In [75]:
# Test with integers
find_smallest([6, 3, 10, 6, 8, -2, 25, -7, -6, 9])

-7

In [77]:
# Test char array
char_array = ['N', 'o', 't', 'r', 'e', 'D', 'a', 'm', 'e']

In [79]:
# Test with char array
find_smallest( char_array )

'D'

In [83]:
# Using the [] operator to access specific elements
find_smallest( [] )
# We can print the value and the type as output strings
find_smallest( [1] )

Will not work on an empty array

1