### This is the preview notebook for Lecture 05

In this lecture, we will learn about:
<ol>
    <li>while loops</li>
    <li>for loops</li>
    <li>Lists</li>
    <li>Review try/except</li>
</ol>

### range( start, end )

Will actually go to <b>end-1</b>

In [5]:
# You can even control the range
# But for range(0,4), will it go to 3 or 4?

iterator = 0

while iterator in range(0, 4):
    print( 'Inside while: ', str(iterator))
    iterator += 1
    
print( 'Outside while: ', str(iterator))

Inside while:  0
Inside while:  1
Inside while:  2
Inside while:  3
Outside while:  4

In [7]:
# Comparing range(a,b) - a is inclusive, b is exclusive
iterator = 3

while iterator in range(0, 4):
    print( 'Inside while: ', str(iterator))
    iterator -= 1
    
print( 'Outside while: ', str(iterator))

Inside while:  3
Inside while:  2
Inside while:  1
Inside while:  0
Outside while:  -1

In [8]:
# Every loop, this will add 2
# After it gets to 11, it will add 2, but then not print
# A good example of *needing to understand the syntax*
# Remember, we are shooting electricity into rocks and trying to make them think

temp_val = 3
add_val = 2

while temp_val in range(3, 13):
    print(temp_val)
    temp_val += add_val

3
5
7
9
11

### In-Class Coding Opportunity

In [26]:
# Read in a set of integers until you enter a 0, and then print their average

# Modified problem

sum_val = 0
count = 0

# Modified - Add an empty list
result_list = []

while True:
    
    int_input = int(input('Input the next integer: '))
    
    if int_input == 0:
        break
    
    # Modified - Add to list
    result_list.append(int_input)
        
    sum_val += int_input
    count += 1

try:
    print( 'Average of ', str(result_list), ' is ', str(sum_val / count) )
    
except ZeroDivisionError:
    print('Cannot divide by Zero')

Input the next integer: 10
Input the next integer: 15
Input the next integer: 7
Input the next integer: 22
Input the next integer: 5
Input the next integer: 0
Average of  [10, 15, 7, 22, 5]  is  11.8

### For loops 

Iterating through a definite set of objects is a common looping pattern

In [13]:
# Using []
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

In [14]:
# Using range
for i in range(0, 3):
    print(i)

0
1
2

### List Syntax and Operators

In [15]:
# The basic format for a Python list
print( [11, 13, 4, 22, -7] )

[11, 13, 4, 22, -7]

In [16]:
# You can use a variable name to save lists
int_list = [11, 13, 4, 22, -7]

In [17]:
# By calling print, you can print the entire list
print( int_list )

[11, 13, 4, 22, -7]

In [18]:
# Review: Lists have their own type!
type( int_list )

list

In [22]:
# You can access a list element using []

print( int_list[0] )
print( int_list[2] )
print( len(int_list) )

11
4
5

In [24]:
# Empty list

empty_list = []

print( empty_list )

empty_list.append(7)

print( empty_list )

[]
[7]

### In-Class Coding Opportunity: Let's loop through the list and print the elements

Key Takeaway: The value at a location is not the same as the location itself!

In [27]:
# Loop through lists example using len

iterator = 0

while iterator < len(int_list):
    
    print( 'int_list[', str(iterator), '] = ', str(int_list[iterator]) )
    iterator += 1

int_list[ 0 ] =  11
int_list[ 1 ] =  13
int_list[ 2 ] =  4
int_list[ 3 ] =  22
int_list[ 4 ] =  -7

In [28]:
# Loop through lists example using in

iterator = 0

for iterator in range(0, len(int_list)):
    
    print( 'int_list[', str(iterator), '] = ', str(int_list[iterator]) )

int_list[ 0 ] =  11
int_list[ 1 ] =  13
int_list[ 2 ] =  4
int_list[ 3 ] =  22
int_list[ 4 ] =  -7

In [29]:
# Deliberate Compile Error

bad_index = len( int_list )

print( int_list[bad_index] )

IndexError: list index out of range

### In-Class Coding Opportunity

Write a function called find_smallest that returns the smallest item in a list. Then, write a line of code that passes an integer array to that function to test your result!

In [33]:
# Function 

def find_smallest( data ):
    
    try:
        smallest = data[0]
        index = 0
        
        while index < len(data):
            if data[index] < smallest:
                smallest = data[index]
                
            index += 1
    
        return smallest
    
    except IndexError:
        print('Index Error!')

In [34]:
# Test with integers
print(find_smallest([6, 3, 10, 6, 8, -2, 25, -7, -6, 9]))

-7

In [35]:
# Test char array
char_array = ['N', 'o', 't', 'r', 'e', 'D', 'a', 'm', 'e']

In [36]:
# Test with char array
print(find_smallest( char_array ))

D